<!DOCTYPE html>
<html>
<head>
  <title>BookAdmin</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="ui menu">
  <%= link_to "Book", books_index_path, class: "item" + (current_page?(books_index_path) ? " active" : "" ) %>
  <%= link_to "Biblio", biblios_path, class: "item" + (current_page?(biblios_path) ? " active" : "" ) %>
  <%= link_to "Shelf", shelves_path, class: "item" + (current_page?(shelves_path) ? " active" : "" ) %>
</div>

<%= yield %>

</body>
</html>
